rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return isAuthenticated() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read: if isAuthenticated();
      allow delete: if isOwner(userId);
      allow create: if isOwner(userId);
      allow update: if isAuthenticated(); // Allow cross-user updates for transfers

      match /payees/{payeeId} {
        allow read, delete: if isOwner(userId);
        allow create, update: if isOwner(userId);
      }
      
      match /rewards/{rewardId} {
        allow read, delete: if isOwner(userId);
        allow create, update: if isAuthenticated(); 
      }
    }

    match /budgets/{userId}/categories/{categoryId} {
      allow read, delete: if isOwner(userId);
      allow create, update: if isOwner(userId);
    }

    match /transactions/{transactionId} {
      allow read, delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
      allow create: if isAuthenticated(); // Allow creating transfer txns for friends
      allow update: if isAuthenticated();
    }

    match /interestTransactions/{txnId} {
      allow read, delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
      allow create, update: if isAuthenticated();
    }

    match /coinTransactions/{txnId} {
      allow read, delete: if isAuthenticated() && resource.data.userId == request.auth.uid;
      allow create, update: if isAuthenticated();
    }

    
    match /finsmartIds/{id} {
      allow read: if isAuthenticated();
      allow create, update: if isAuthenticated();
    }

    
    match /transferTokens/{tokenId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.senderId;
      allow read: if request.auth != null && (request.auth.uid == resource.data.senderId || request.auth.uid == resource.data.receiverId);
      allow update: if request.auth != null && request.auth.uid == resource.data.receiverId;
      allow delete: if request.auth != null && (request.auth.uid == resource.data.senderId || request.auth.uid == resource.data.receiverId);
    }

    match /support/{ticketId} {
      allow create: if true;
      allow read, update, delete: if isAuthenticated();
    }
  }
}
